/**
 * 5.0 Content
 */
h1, h2, h4, h5, a, p, input, textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
h6, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Loader */
#loader,
#unloader {
    z-index: 900;
    position: fixed;
    top: 0;
    width:100%;
    height: 100%;
    background: #fff;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s, visibility .3s;
    -moz-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
}
#loader.loaded {
    opacity: 0;
    visibility: hidden;
}
#unloader {
    opacity: 0;
    visibility: hidden;
}
#unloader.unload {
    opacity: 1;
    visibility: visible;
}
#loader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 60px;
    opacity: .7;
    background-image: url(img/logo_black.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -110%);
    -moz-transform: translate(-50%, -110%);
    -ms-transform: translate(-50%, -110%);
    transform: translate(-50%, -110%);
}
#loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 1px;
    background: transparent;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#loader span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 85%;
    height: 100%;
    background: rgba(0,0,0,.4);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-animation: progressBar 5s ease-out;
    animation: progressBar 5s ease-out;
}
@-webkit-keyframes progressBar {
    100% {width:85%;}
    60% {width:75%;}
    20% {width:40%;}
    0% {width:0%;}
}
@keyframes progressBar {
    100% {width:85%;}
    60% {width:75%;}
    20% {width:40%;}
    0% {width:0%;}
}
#loader.loaded span:after {
    -webkit-animation: none;
    animation: none;
    width: 100%;
}
/* End Loader*/


#page-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    border: 40px solid #fff;
    background-color: #a563ef;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}
#wrapper.left {
     width: 50%;
}
#logo {
    position: absolute;
    opacity: .7;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}
.left #logo {
    opacity: 0;
}
#logo:hover{
    opacity: 1;
}
#logo div{
    display: block;
    width: 180px;
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/logo.png);
}
#corner {
    width: 320px;
    height: 320px;
    background-color: #fff;
    -webkit-transform: translate(50%, -50%) rotate(45deg);
    -moz-transform: translate(50%, -50%) rotate(45deg);
    -ms-transform: translate(50%, -50%) rotate(45deg);
    transform: translate(50%, -50%) rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
}
#heart {
    position: absolute;
    left: -80px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#heart i {
    font-size: 1200px;
    color: #fff;
    opacity: .15;
}


#message {
    border-left: 1px solid #fff;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    min-width: 500px;
    max-height: 75%;
    overflow-y: auto;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translateY(-50%, -50%);
    -webkit-transition: opacity .3s, transform .3s;
    -moz-transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s;
}
.left #message {
    opacity: 0;
    -webkit-transform: tanslate(-100%, -50%);
    -moz-transform: tanslate(-100%, -50%);
    -ms-transform: tanslate(-100%, -50%);
    transform: tanslate(-100%, -50%);
}
#message h1 {
    margin-top: 0;
    font-size: 36px;
    color: #fff;
}
#message h2 {
    font-size: 18px;
    color: #fff;    
}
#message h3 {
    font-size: 20px;
    margin-bottom: 0;
    color: #fff;
    opacity: .6;
    text-transform: uppercase;
}

#archive #logo {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
}
#archive #logo div {
    background-image: url(img/logo.png);
}
.message {
    height: 0;
    padding-bottom: 33.33%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.message-border {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}
.message-border div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #fff;
    -webkit-transform: translate(50%, -50%) rotate(45deg);
    -moz-transform: translate(50%, -50%) rotate(45deg);
    -ms-transform: translate(50%, -50%) rotate(45deg);
    transform: translate(50%, -50%) rotate(45deg);
}
.message:hover .message-border {
    opacity: .6;
}
.message h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 20px;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.message:hover h1 {
    opacity: 1;
}
.message h3 {
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

#about {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    opacity: 0;
    padding: 40px;
    -webkit-transition: opacity .3s, transform .3s;
    -moz-transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s;
}
#about.left {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
#about-content {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 40px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
#about-logo {
    width: 180px;
    height: 90px;
    margin: 0 auto;
    opacity: .4;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/logo_black.png);
}
#about p {
    opacity: .8;
    font-size: 18px;
    margin: 100px 0;
}
#about-close {
    display: inline-block;
    opacity: .4;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    cursor: pointer;
}
#about-close:hover {
    opacity: 1;
}
#close-icon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#close-icon span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 16px;
    background-color: #000;
}
#close-icon span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#close-icon span:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#about-close h6 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}

/* Submit */
#submit {
    width: 100%;
    height: 100%;
    border: 40px solid #555;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
#submit #corner {
    background-color: #555;
}
#submit #logo div {
    opacity: .8;
    background-image: url(img/logo_black.png);
}
form {
    width: 60%;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: auto;
    padding: 50px 20px 10px;
}
form h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    opacity: .4;
    margin: 50px 0 20px;
}
input {
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #555;
    padding: 10px 5px;
    outline: 0;
    font-size: 24px;
}
textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px 5px;
    height: 80px;
    outline: 0;
    border: 1px solid #555;
    transition: border-color .3s;
}
#conditional {
    height: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s, visibility .3s, height .3s;
    -moz-transition: opacity .3s, visibility .3s, height .3s;
    transition: opacity .3s, visibility .3s, height .3s;
}
#conditional.show {
    height: 163px;
    opacity: 1;
    visibility: visible;
}
#conditional span {
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}
#conditional.error span {
    color: red;
}
#conditional.error textarea {
    border-color: rgba(255,0,0,.4);
}
input[type='submit'] {
    margin-top: 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #555;
    opacity: .7;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}
input[type='submit']:hover {
    opacity: 1;
}
/* End Submit */

/**
 * 5.0 Content
 */

footer {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
footer a,
footer a:link,
footer a:active,
footer a:visited {
    margin: 5px 0;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    opacity: .4;
    display: block;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    cursor: pointer;
}
footer a:hover {
    opacity: 1;
}
footer a:first-child {
    margin-top: 0;
}
footer a:last-child {
    margin-bottom: 0;
}
footer a h6 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
footer a i {
    vertical-align: middle;
    margin-left: 5px;
}
#about-link i.fa-times,
.left #about-link i.fa-info-circle {
    display: none;
}
.left #about-link i.fa-times,
#about-link i.fa-info-circle {
    display: inline-block;
}

#archive footer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}
#submit footer a,
#submit footer a:link,
#submit footer a:active,
#submit footer a:visited {
    color: #fff;
}